thead
  tr
    th.hidden-xs #{settings.locale.timestamp}
    th.hidden-xs #{settings.locale.tx_hash}
    th #{settings.locale.mkt_amount} (#{settings.symbol})
tbody
  each tx in txs
    - var time = format_unixtime(tx.timestamp)
    tr
      td.hidden-xs #{time} 
      td.hidden-xs
        a.mono(href='/tx/#{tx.txid}') #{tx.txid}
      if tx.vout > 0 && tx.vin > 0
        td.info
          - var amount = (tx.vout - tx.vin) / 100000000
          if amount < 0
            | - #{tx.amount}
          else if amount > 0
            | + #{tx.amount}
          else
            | #{tx.amount}
      else if tx.vout > 0
        td.text-right.success
          | + #{tx.amount}
      else
        td.text-right.danger
          | - #{tx.amount}