.panel.panel-default
  .panel-heading
    h3.panel-title #{settings.locale.rl_current_balance} 
  table.table.table-hover.table-bordered(cellspacing="0")
    thead
      tr
        th(style='text-align:center;') 
          span.fa.fa-flag-checkered
        th #{settings.locale.tx_address}
        th.hidden-xs #{settings.locale.rl_balance} (#{settings.symbol})
        th.hidden-xs(style='text-align:center;') %
    tbody
      - var count = 0
      each item in balance
        - count = count + 1
        tr
          td(style='text-align:center;') 
            =count
          td 
            a.mono(href='/address/#{item.address}') #{item.address}
            include ./rl_labels.jade
          td.hidden-xs.text-right
            =item.amount
          td.hidden-xs(style='text-align:center;') 
            =item.amountPerc