if settings.labels[item.address]
  if settings.labels[item.address].type  
    label(class='label label-#{settings.labels[item.address].type} hidden-xs', style='margin-left:15px;')
      =settings.labels[item.address].label
      if settings.labels[item.address].url
        a(href='#{settings.labels[item.address].url}', target='_blank')
          span.fa.fa-question-circle(style='margin-left:5px;')
  else
    label.label.label-default.hidden-xs(style='margin-left:15px;') 
      =settings.labels[item.address].label
      if settings.labels[item.address].url
        a(href='#{settings.labels[item.address].url}', target='_blank')
          span.fa.fa-question-circle(style='margin-left:5px;')