.panel.panel-default
  .panel-heading
    h3.panel-title #{settings.locale.rl_received_coins} 
  table.table.table-hover.table-bordered(cellspacing="0")
    thead
      tr
        th(style='text-align:center;') 
          span.fa.fa-flag-checkered
        th #{settings.locale.tx_address} 
        th.hidden-xs #{settings.locale.rl_received} (#{settings.symbol})
    tbody
      - var count = 0
      each item in received
        - count = count + 1
        tr
          td(style='text-align:center;') 
            =count
          td
            a.mono(href='/address/#{item.address}') #{item.address}
            include ./rl_labels.jade
          td.hidden-xs.text-right
            =item.amount