extends layout

block content
  - var time = format_unixtime(timestamp)
  .col-xs-12.col-md-10.col-md-offset-1
    .well.well-sm.hidden-lg.hidden-md(style='word-wrap:break-word;')
      | #{hash}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')       
        .row           
          if prev_block_hash !== null
            a(href='/block/#{prev_block_hash}')
              span.glyphicon.glyphicon-chevron-left.iquidus.block-last(data-toggle='tooltip', data-placement='top', title='#{settings.locale.block_previous}')  
            strong.hidden-xs #{settings.symbol} block: #{hash}
          else
            strong.hidden-xs(style='margin-left:10px;') #{settings.symbol} #{settings.locale.ex_block}: #{hash}
          if next_block_hash !== null
            a(href='/block/#{next_block_hash}')
              span.glyphicon.glyphicon-chevron-right.iquidus.pull-right.block-next(data-toggle='tooltip', data-placement='top', title='#{settings.locale.block_next}')       
          a(href='/api/getblock?hash=#{hash}')
            span.glyphicon.glyphicon-info-sign.iquidus.pull-right
      table.table.table-bordered.summary-table 
        thead
          tr
            th #{settings.locale.height}
            if difficulty
              th #{settings.locale.difficulty}
            if confirmations
              th #{settings.locale.confirmations}
            if settings.heavy == true
              th Vote
            if block_size
              th.hidden-xs #{settings.locale.size} (kB)
            if bits
              th.hidden-xs #{settings.locale.bits}
            if nonce
              th.hidden-xs #{settings.locale.nonce}
            th.hidden-xs #{settings.locale.timestamp}
        tbody
          if !confirmations || confirmations >= confirmations_req
            tr.success
              - var block_size = size/1024
              td #{height}
              if difficulty
                td #{difficulty.toFixed(4)}
              if confirmations
                td #{confirmations}
              if settings.heavy === true
                td  #{vote}
              if block_size
                td.hidden-xs #{block_size.toFixed(2)}
              if bits
                td.hidden-xs #{bits}
              if nonce
                td.hidden-xs #{nonce}
              td.hidden-xs #{time}
          else
            if confirmations < (confirmations_req / 2)
              tr.danger
                - var block_size = size/1024
                td #{height}
                if difficulty
                  td #{difficulty}
                td #{confirmations}
                if settings.heavy == true
                  td  #{vote}
                td.hidden-xs #{block_size.toFixed(2)}
                td.hidden-xs #{bits}
                td.hidden-xs #{nonce}
                td.hidden-xs #{time}
            else
              tr.warning
                - var block_size = size/1024
                td #{height}
                if difficulty
                  td #{difficulty.toFixed(4)}
                td #{confirmations}
                if settings.heavy == true
                  td  #{vote}
                td.hidden-xs #{block_size.toFixed(2)}
                td.hidden-xs #{bits}
                td.hidden-xs #{nonce}
                td.hidden-xs #{time}

    if hash === settings.genesis_block
      .alert.alert-info(role='alert', style='text-align:center;')   
        strong #{settings.locale.block_genesis}
    else
      .panel.panel-default
        .panel-heading
          strong #{settings.locale.ex_latest_transactions}
        table.table.table-bordered.table-striped.summary-table 
          thead
            tr
              th.hidden-xs #{settings.locale.tx_hash}
              th #{settings.locale.tx_recipients}
              th #{settings.locale.mkt_amount} (#{settings.symbol})
              th
          tbody
            each txn in txs
              tr
                td.hidden-xs
                  a(href='/tx/#{txn.hash}') #{txn.hash}
                td #{txn.recipients}
                td #{txn.amount}
                td.view_tx 
                  a(href='/tx/#{txn.hash}')
                    span.glyphicon.glyphicon-eye-open 
    .footer-padding  
